/* portrait phones */
@media (max-width: 575.98px) {
	body, html {
        font-size: 12px;
    }

    .bold-88 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .semi-60 {
        font-size: 3.5rem;
        line-height: 3.2rem;
    }

    .hero-wrapper {
        height: 790px;
        flex-direction: column;
    }

    .hero-left{
        margin-top: 5rem;
    }

    .hero-right img {
        width: 85%;
    }

    .hero-footer {
        bottom: 0;
    }

    .section-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .player-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .news-wrapper {
        height: 800px;
        flex-direction: column;
    }

    .news-left {
        padding: 0;
    }

    .news-right img {
        width: 100%;
    }

    .jersey-wrapper {
        flex-direction: column;
        gap: 3rem;
    }

    .kit img{
        width: 100%;
    }
}

/* landscape mode */
@media (min-width: 576px) and (max-width: 767.98px) {
	body, html {
        font-size: 12px;
    }

    .hero-wrapper {
        height: 790px;
        flex-direction: column;
    }

    .hero-footer {
        bottom: 0;
    }

    .player-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-wrapper {
        height: 800px;
        flex-direction: column;
    }

    .kit img{
        width: 100%;
    }
}

/* Tablet Devices */
@media (min-width: 768px) and (max-width: 991.98px) {
	body, html {
        font-size: 12px;
    }

    .hero-wrapper {
        height: 790px;
        flex-direction: column;
    }

    .hero-footer {
        bottom: 0;
    }

    .player-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-wrapper {
        height: 800px;
        flex-direction: column;
    }

    .kit img{
        width: 100%;
    }
}

/* Laptop devices */
@media (min-width: 992px) and (max-width: 1299.98px) {
	body, html {
        font-size: 12px;
    }

    .hero-wrapper {
        height: 800px;
    }

    .kit img{
        width: 100%;
    }
}

/* Laptop devices */
@media (min-width: 1300px) and (max-width: 1531.98px){
	.hero-wrapper {
        height: 790px;
    }
}

/* large desktops */
@media (min-width: 1532px) and (max-width: 2499.99px) {
    /* retrieving the default styles */
}

/* 4k monitors */
@media (min-width: 2500px) {
    .container {
        max-width: 1840px;
    }

	.hero-wrapper {
        height: 1140px;
    }
}


/*
*
*
*
*
*
*
*
/****** Extra small i-phones  *******/
@media (max-width: 320px) {
	.bold-88 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-left h1 {
        margin: 1rem 0;
    }
}

/****** Extra small other devices *******/
@media (min-width: 321px) and (max-width: 376px) {
    .hero-left h1 {
        margin: 1.6rem 0;
    }
}