/* montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* initial styles */
* {
	margin: 0;
	padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.container{
	max-width: 1440px;
    margin: 0 auto;
}

/* fonts */
.bold-88{
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 5rem;
}

.semi-60{
    font-size: 4rem;
    font-weight: 600;
    line-height: 5rem;
}
  
.light-18{
    font-size: 1.125rem;
    font-weight: 300;
}

.medi-20{
    font-size: 1.25rem;
    font-weight: 500;
}

.bold-28{
    font-size: 1.75rem;
    font-weight: 700;
}

/* colors */
.color-1{
    color:#6C6C6C;;
}

.color-2{
    color:#000;;
}

.color-3{
    color:#D12132;;
}

.btn-1 {
    background-color: #D12132;
    color: #fff;
    padding: 0.625rem 1.5rem;
    cursor: pointer;
    font-size: 1.125rem;
    border: 0;
}
  
.btn-1:hover{
    background-color:#FFF22D;
    color: #D12132;
    animation: colorChange 2s ease-in-out infinite forwards;
}

@keyframes colorChange{
    0% {
        background-color: #FFF22D;
    }

    25% {
        background-color: #000;
    }

    100% {
        background-color: white;
    }
}

.btn-1 .arrow{
    padding-left: .5rem;
}

/* header style starts */
.brand{
    position: absolute;
    padding: 1.25rem 0;
}

/* hero style starts */
.hero{
    width: 100%;
    height: auto;
    background-image: url(../img/stadium.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.hero-wrapper{
    height: 940px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.hero-left h1{
    margin: 1.8rem 0;
}

.hero-left p{
    margin-left: .5rem;
}

.hero-left h1 span{
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.125rem;
    -webkit-text-stroke-color: #fff;
    animation: strocked 3s ease-in-out .1s infinite alternate;
    animation-play-state: running;
}

@keyframes strocked{
    0% {
        color: transparent;
        -webkit-text-stroke-width: 0.125rem;
        -webkit-text-stroke-color: #fff;
    }

    50%{
        color: #FFF22D;
        -webkit-text-stroke-width: 0.125rem;
        -webkit-text-stroke-color: #FFF22D;
    }

    100%{
        color: red;
        -webkit-text-stroke-width: 0.125rem;
        -webkit-text-stroke-color: red;
    }
}

.call-to-act{
    display: flex;
    align-items: center;
}

.call-to-act img {
    margin-left: 1rem;
    width: 3rem;
}

.hero-footer {
    position: absolute;
    font-size: 1.375rem;
    text-align: center;
    bottom: 3.125rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-footer span::before, .hero-footer span::after{
    content: "";
    width: 4.375rem;
    height: 0.375rem;
    top: 0.3125rem;
    position: absolute;
    border-bottom: 2px solid #C4BBB6;
}

.hero-footer span::before {
    right: 100%;
    margin-right: .5rem;
}

.hero-footer span::after {
    left: 100%;
    margin-left: .5rem;
}

.hero-footer span{
    color: #C4BBB6;
}

/* player starts */
.section-top{
    display: flex;
    align-items: center;
}

.section-top h2{
    display: inline;
    margin-right: 1.2rem;
}

.players{
    padding: 7rem 2rem;
}

.player-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
    margin-top: 4rem;
}

.player{
    padding: 1.875rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.player h2{
    padding: 1.2rem 0;
}

.player img{
    width: 100%;
    transition: ease-in .5s;
    cursor: pointer;
}

.player img:hover{
    transform: scale(1.05);
}

/* jersery starts */
.jersey {
    padding: 7rem 2rem;
}

.jersey-wrapper{
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}

.price{
    margin-bottom: 1rem;
}

/* season starts */
.season{
    padding: 7rem 2rem;
}

.season-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
}

.stat-values{
    display: flex;
}

.column{
    padding: 2rem;
}

.column:first-child{
    padding-left: 0;
}

.column:last-child{
    padding-right: 0;
}

.result i{
    padding: 0 1rem;
}

.result i:first-child{
    padding: 0;
}

.result .win{
    color: #3AA757;
}

.result .draw{
    color: #9AA0A6;
}

.result .loss{
    color: #EA4335;
}

/* news starts */
.news{
    padding: 0 2rem;
}

.news-wrapper{
    height: 640px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.news-left{
    padding: 1.875rem;
}

.news-left h2{
    margin: 1.8rem 0;
}

.news-left p{
    margin-bottom: 1.8rem;
}

/* footer starts */
.foot-wrapper{
    margin: 1.8rem 0;
}

.foot-brand{
    display: flex;
    justify-content:center;
    align-items: center;
}

.foot-brand h5{
    padding-left: 1.2rem;
}

.social-icons{
    display: flex;
    justify-content:center;
    font-size: 2.5rem;
}

.social-icons i{
    padding: 1rem;
    cursor: pointer;
    color: #D12132;
}

.social-icons i:hover{
    color: #000;
}

.copyright h6{
    text-align: center;
}